#login {
  color: white;
  font-size: 17.5px;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-top: 5px solid rgb(5, 57, 87);
  border-bottom: 2px solid rgb(5, 57, 87);
  display: block;
  margin-top: 15px;
  text-align: center;
  padding: 33px 45px 57px;
  background: rgba(255, 63, 46, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 63, 46, 1) 0%,
    rgba(255, 63, 46, 1) 9%,
    rgba(254, 94, 82, 1) 31%,
    rgba(255, 22, 10, 1) 49%,
    rgba(14, 16, 16, 1) 67%,
    rgba(170, 26, 23, 1) 89%,
    rgba(248, 31, 27, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 63, 46, 1)),
    color-stop(9%, rgba(255, 63, 46, 1)),
    color-stop(31%, rgba(254, 94, 82, 1)),
    color-stop(49%, rgba(255, 22, 10, 1)),
    color-stop(67%, rgba(14, 16, 16, 1)),
    color-stop(89%, rgba(170, 26, 23, 1)),
    color-stop(100%, rgba(248, 31, 27, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 63, 46, 1) 0%,
    rgba(255, 63, 46, 1) 9%,
    rgba(254, 94, 82, 1) 31%,
    rgba(255, 22, 10, 1) 49%,
    rgba(14, 16, 16, 1) 67%,
    rgba(170, 26, 23, 1) 89%,
    rgba(248, 31, 27, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 63, 46, 1) 0%,
    rgba(255, 63, 46, 1) 9%,
    rgba(254, 94, 82, 1) 31%,
    rgba(255, 22, 10, 1) 49%,
    rgba(14, 16, 16, 1) 67%,
    rgba(170, 26, 23, 1) 89%,
    rgba(248, 31, 27, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 63, 46, 1) 0%,
    rgba(255, 63, 46, 1) 9%,
    rgba(254, 94, 82, 1) 31%,
    rgba(255, 22, 10, 1) 49%,
    rgba(14, 16, 16, 1) 67%,
    rgba(170, 26, 23, 1) 89%,
    rgba(248, 31, 27, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 63, 46, 1) 0%,
    rgba(255, 63, 46, 1) 9%,
    rgba(254, 94, 82, 1) 31%,
    rgba(255, 22, 10, 1) 49%,
    rgba(14, 16, 16, 1) 67%,
    rgba(170, 26, 23, 1) 89%,
    rgba(248, 31, 27, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3f2e', endColorstr='#f81f1b', GradientType=1 );
}

#login label {
  display: block;
  margin-bottom: 10px;
}

#login label span {
  display: inline-block;
  text-align: left;
  width: 100px;
}

#login label input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#login p {
  margin-top: 20px;
  font-size: 18px;
  color: #a7a411;
}

#login p a {
  color: rgb(251, 255, 0);
  margin-left: 10px;
  text-decoration: none;
}

/* BOTÓN REGISTRO */
#login button {
  margin-right: 10px;
  padding: 8px;
  padding-right: 22px;
  padding-left: 10px;
  -webkit-box-shadow: 24px -15px 20px -1px rgba(230, 12, 230, 0.62);
  -moz-box-shadow: 24px -15px 20px -1px rgba(230, 12, 230, 0.62);
  box-shadow: 24px -15px 20px -1px rgba(230, 12, 230, 0.62);
  background: rgba(182, 132, 17, 1);
  background: -moz-linear-gradient(
    left,
    rgba(182, 132, 17, 1) 0%,
    rgba(182, 132, 17, 0.67) 91%,
    rgba(182, 132, 17, 0.67) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(182, 132, 17, 1)),
    color-stop(91%, rgba(182, 132, 17, 0.67)),
    color-stop(100%, rgba(182, 132, 17, 0.67))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(182, 132, 17, 1) 0%,
    rgba(182, 132, 17, 0.67) 91%,
    rgba(182, 132, 17, 0.67) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(182, 132, 17, 1) 0%,
    rgba(182, 132, 17, 0.67) 91%,
    rgba(182, 132, 17, 0.67) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(182, 132, 17, 1) 0%,
    rgba(182, 132, 17, 0.67) 91%,
    rgba(182, 132, 17, 0.67) 100%
  );
  background: linear-gradient(
    to right,
    rgba(182, 132, 17, 1) 0%,
    rgba(182, 132, 17, 0.67) 91%,
    rgba(182, 132, 17, 0.67) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b68411', endColorstr='#b68411', GradientType=1 );
  border-radius: 0px 6px 88px 0px;
  -moz-border-radius: 0px 6px 88px 0px;
  -webkit-border-radius: 0px 6px 88px 0px;
  border: 4px double #db2100;
}

#login button:hover {
  background-color: rgb(51, 33, 153);
  animation: vibrateAnimation 0.5s ease 0s 1 normal forwards;
}

#login button:active {
  background-color: rgb(255, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}

@keyframes vibrateAnimation {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

/* CUADRADO */
.spinner {
  margin-bottom: 20px;
  padding: 14px;
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, 0.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
