* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

span.avatar-button {
  position: relative;
}

span.userName {
  color: #0e88e6d7;
  padding-left: 32%;
}

.avatar {
  border: 1.5px solid #8c0ee6d7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-button img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #8c0ee6d7;
}

.menu {
  background-color: #0f1111;
  border: 2px solid #8c0ee6d7;
  border-radius: 5px;
  width: 200px;
  position: absolute;
  left: -118px;
  top: 61px;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}
