.contenedor {
  border: 1px solid black;
}

.general {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 300px;
}

label {
  margin: 10px 0;
}
