.category-dropdown button {
  margin-right: 5px;
  font-size: 14px;

  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 0px solid #000000;
}

.category-dropdown button.active {
  background-color: red;
}

@media only screen and (max-width: 1000px) {
  .category-dropdown button {
    display: block;
    margin-bottom: 5px;
  }
}
