.toggle {
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  margin: auto;
  background-image: linear-gradient(rgb(0, 174, 255), rgb(39, 126, 160));
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(midnightblue, rgb(58, 25, 92));
}

.notch {
  height: 22.5px;
  width: 20px;
  border-radius: 50%;
  background: rgb(255, 217, 0);
  position: absolute;
  top: 1.25px;
  left: 1.25px;
  box-shadow: 0 0 1.25px yellow;
  z-index: 1;
  transition: all 0.3s ease;
}

.notch > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.4) inset;
}
.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 1.25px;
  top: 3.75px;
  height: 3.75x;
  width: 10px;
  transform: rotate(-45deg);
}

.crater:last-child {
  right: 2.5px;
  top: 3.75px;
  height: 3.75px;
  width: 6.25px;
  transform: rotate(45deg);
}

.night > .notch {
  background: whitesmoke;
  box-shadow: 0 0 1.25px whitesmoke;
  transform: translate(25px, 0);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.shape.sm {
  height: 1.25px;
  width: 12.5px;
  top: 50%;
  left: 60%;
}

.shape.md {
  height: 2.5px;
  width: 18.75px;
  top: 25%;
  left: 25%;
  z-index: 2;
}

.shape.lg {
  height: 3.75px;
  width: 25px;
  bottom: 5px;
  left: 25%;
}

.night .shape {
  background: lightgray;
  box-shadow: 0 0 2.5px 0.5px violet;
}

.night .shape.sm {
  height: 1.25px;
  width: 1.25px;
  transform: translate(-10px, 0);
}

.night .shape.sm:first-of-type {
  transform: translate(-10px, -5px);
}

.night .shape.md {
  height: 2.5px;
  width: 2.5px;
  transform: translate(2.5px, 0);
}

.night .shape.lg {
  height: 3.75px;
  width: 3.75px;
  transform: translate(-2.5px, 0);
}
