header.header {
  background-color: #0f1111;
  color: white;
  border-bottom: 2px solid #8c0ee6d7;
  position: fixed;
  width: 100%;
}

header .header-content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 0px 20px;
}

header h1 {
  font-size: 140%;
  margin: 0;
}

header a {
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

header span.toggle-button {
  margin-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  padding-top: 70px;
  padding-bottom: 30px;
}

footer {
  background-color: #0f1111;
  border-top: 2px solid #8c0ee6d7;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer .content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

footer section p {
  margin-right: 15px;
  white-space: pre-line;
  vertical-align: bottom;
}

button.animated {
  background-color: #3f026b;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;

  -webkit-box-shadow: 0px 10px 25px -13px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 25px -13px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 25px -13px rgba(0, 0, 0, 1);

  border-radius: 0px 0px 124px 0px;
  -moz-border-radius: 0px 0px 124px 0px;
  -webkit-border-radius: 0px 0px 124px 0px;
  border: 0px solid #000000;
}

button.animated:hover {
  background-color: rgb(51, 33, 153);
  animation: vibrateAnimation 0.5s ease 0s 1 normal forwards;
}

button.animated:active {
  background-color: rgb(95, 53, 19);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}

@keyframes vibrateAnimation {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
